.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px;
  align-items: center;
  margin: 25px auto;
  padding: 10px;
  max-width: 600px;
  height: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
  text-decoration: none;
  color: inherit;
  border-radius: 10px;

  &:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
  }

  > .card-single-text {
    font-size: 22px;
  }
}

.card-link {
  text-decoration: none;
}
