// globals
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
  font-size: 22px;
  margin-top: 60px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

// variables
$primary-color: #333;
$secondary-color: #000;

// mixins
@mixin margin-10 {
  margin: 10px;
}
@mixin margin-20 {
  margin: 20px;
}
@mixin margin-30 {
  margin: 30px;
}
@mixin margin-40 {
  margin: 40px;
}
